:root {
  --color-purple: #3300ff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #808080;
}
body {
}
main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* header */
header,
footer {
  padding: 16px 20px;
}
nav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-logo-container {
}
nav > ul {
  display: flex;
  gap: 16px;
}
nav > ul > li {
}
nav > ul > li > a {
}
/* hero */
.section-hero {
  color: var(--color-white);
  position: relative;
  min-height: 732px;
}
.section-hero,
.section-hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-hero-content {
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 36px;
  }
}
.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 200%; /* karena ada 2 gambar */
  height: 100%;
  animation: slide 8s infinite;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide {
  0%,
  45% {
    transform: translateX(0);
  }
  50%,
  95% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* about us */

.section-about-us {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
}
.about-us-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 16px;
}
.about-us-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-us-button {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    border: 1px black solid;
    border-radius: 4px;
    padding: 8px 16px;
  }
}

.section-category {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}
.category-item {
  position: relative;
  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    font-weight: bold;
    text-align: left;
  }
}

/* projects */

.section-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 20px;
  gap: 20px;
}
.left-projects-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.right-projects-content {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.right-projects-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.right-projects-content > div {
  min-width: 224px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 12px;
  position: relative;
}
.right-projects-content > div > div {
  position: absolute;
  bottom: 40px;
  left: 24px;
  color: var(--color-white);
  min-width: 140px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right-projects-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* partner */

.section-client {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-inline: 20px;
  text-align: center;
}
.section-client-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 16px;
  img {
    width: 300px;
    height: 100%;
    object-fit: cover;
  }
}

/* contact us */
.section-contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  gap: 16px;
  max-width: 628px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 16px;
}
.contact-us-button {
  margin-top: 16px;
  a {
    background-color: var(--color-purple);
    color: var(--color-white);
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 16px;
  }
}
/* brands */
.section-brand {
  padding-inline: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-brand-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 16px;
  img {
    width: 300px;
    height: 100%;
    object-fit: cover;
  }
}
/* footer */
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 16px;
  padding-inline: 20px;
}
.left-footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.item-left-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.item-left-footer > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--color-gray);
}
.right-footer-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-self: end;
  max-width: 500px;
}
.right-footer-content > p {
  color: var(--color-gray);
}
form {
  display: flex;
  gap: 16px;
}
form > input {
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid var(--color-gray);
  color: var(--color-black);
}
form > input::placeholder {
  color: var(--color-black);
}
form > button {
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 8px 16px;
  border-radius: 8px;
}
.footer-sosmed-1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-sosmed-1 > div {
  display: flex;
  gap: 8px;
  align-items: center;
}
.footer-sosmed-1 > div > i {
  font-size: 20px;
}
.footer-sosmed-2 {
  display: flex;
  gap: 8px;
  align-items: center;
}
.footer-sosmed-2 > i {
  font-size: 24px;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 50%;
  padding: 8px;
}
